<footer>
    <section class="footer-section">

        <article>
            <h3>Redes</h3>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href='https://twitter.com/DragonTech19' class="fa-brands fa-twitter"></a>
            <a href="https://www.instagram.com/dragontech22/" class="fa-brands fa-instagram"></a>
        </article>

        <article>
            <h3>Recibir Novedades</h3>
            <input type="text" name="user" name="email" required placeholder="USUARIO / EMAIL">
            <button class="bottom-novedades" type="submit">Recibir</button>  
        </article>

    </section>
</footer>