<!DOCTYPE html>
<html lang="en">

    <!--Head-->
    <%- include ("./partials/head")  %> 
    
    <body>

    <!--Header-->    
    <%- include ("./partials/header")  %>
    
    <main>
        <section class="formulario">
         
            <h2>Login</h2>

            <form action="/users/login" method="POST">
 
                <label b>Email *</b></label>
                <input class="email" type="email" name="email" placeholder="EMAIL" minlength='5' required onchange="document.querySelector('button').disabled = false">

            <br>

                <label b>Password *</b></label>
                <input class='password' type="password" name="password" required placeholder="PASSWORD" minlength="5" required>

                
                <input type="checkbox" name="recordar_usuario"> Recordar mi usuario
                
                <button class="bottom-login" type="submit">INGRESAR</button>  



                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %> 
                    </div>
                <% } %>
            
                <a href="#">¿Perdiste tu contraseña?</a>
                <a href="/users/register">¿No tienes cuenta?, Registrate</a>
            </form>
        </section>     
    </main>

    <script src="/js/userValidator/loginValidations.js"></script>

    <!--Footer-->
    <%- include ("./partials/footer")  %> 

   
</body>
</html>
