/*INDEX*/

.banner-index {
    width: 100%;
    background-color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-size: 0.8em;
    padding: 0 10px;
    
    
}

.banner-index div {
    width: 30%;
    margin: 5px;
    text-align: center;
}

.banner-index div .img1, .img2, .img3  {
    width: 100%;
}

.banner-index div .img2, .img3  {
    width: 80%;
}

.main-section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #525558;
    width: 100%;
}

.main-section3 article {
    text-align: center;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}
.main-section3 article:hover  {
    box-shadow: #111 15px 15px 15px ;
}


.main-section3 article a {
    text-decoration: none;

}

.main-section3 article img {
    width: 60%;
}

.main-section3 article p {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

}

@media (min-width: 576px) {

    .banner-index {
        font-size: 1.2em;
    }

    .banner-index div {
        width: 25%;
        
    }
    
    .main-section3 article {
        width: 45%;
    }
}

@media (min-width: 768px) {

    .banner-index  {
        padding: 0 50px;
       
    }
    

    .banner-index div {
        width: 20%;
        
    }
    
    .main-section3 {
        justify-content: space-between;
    }
    .main-section3 article {
        width: 30%;
    }
}

@media (min-width: 1024px) {

    .banner-index div {
        width: 15%;
        
    }

    .main-section3 h3{
        font-size: 20px;    
    }

    .main-section3 p{
        font-size: 20px;    
    }
}

/*------------------------*/

/*PRODUCT DETAIL*/

.detail-main {
    margin-left: auto;
    margin-right: auto;
    
}

.detail-main div {
    text-align: center;
}

.detail-main img {
    width: 50%;
}

.detail-main button {
    background-color: var(--amarillo);
    border: none;
    padding: 10px;
    margin: 2px ;
}

@media (min-width: 576px) {
    .detail-main img {
        width: 65%;
    }
}
@media (min-width: 768px) {
    .detail-main article {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    } 

    .detail-main article img {
        width: 140%;
    }     

    .detail-main article button {
        position: relative;
        top: 100px;
        left: 251px;    
    }

    .detail-main h3 {
        font-size: 18px;
        text-align: center;
        margin-left: 40px;
    }

    .detail-main h4 {
        font-size: 14px;
        text-align: center;
        margin-left: 40px;
    }

    .detail-main h5 {
        font-size: 14px;
        text-align: center;
        margin-left: 40px;
    }

    .detail-main p {
        font-size: 12px;
        text-align: center;
        margin-left: 40px;
    }

}

@media (min-width: 992px) {
    .detail-main article {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    } 

    .detail-main article img {
        width: 80%;
        margin-left: 120px;
    }     

    .detail-main article button {
        position: relative;
        font-size: 18px;
        top: 140px;
        left: 235px;    
    }

    .detail-main article h3 {
        font-size: 27px;
        margin-bottom: 5px;
        margin-right: 250px;
    }

    .detail-main article h4 {
        font-size: 21px;
        text-align: center;
        margin-bottom: 5px;
        margin-right: 250px;
    }

    .detail-main article h5 {
        font-size: 19px;
        text-align: center;
        margin-bottom: 5px;
        margin-right: 250px;
    }

    .detail-main article p {
        font-size: 18px;
        text-align: center;
        margin-bottom: 10px;
        margin-right: 250px;
    }
}

/*--------------------------------*/

/*PRODUCT LIST Y CATEGORIAS*/

.categorias ul {
    display: flex;
    justify-content: center;
}
.categorias ul li {
    list-style: none;
    text-decoration: none;
    padding: 10px;
}

.categorias ul li a {
    text-decoration: none;
}

.productList {
    background-color: #525558;
}

.productList h2 {
    color: #fff;
}

.productList__product {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    
}

.productList button {
    border: solid var(--lila) 1px;
    padding: 5px;
    margin: 5px ;
    border-radius: 5px;
}

.productList__product p {
    font-weight: bold;
    font-size: 16px ;
}

.productList__product img {
    width: 50vw;
}

.productList__product .buttonsBuy-productos {
    display: flex;
    flex-direction: column;
}


/*botones crud productos*/

.buttonCreate-product {
    text-align: center;
}
.buttonsCrud-products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px; 
    
}
.buttonDelete-product, .buttonEdit-product {
    height: 50px;
    width: 50px;
}
.buttonDelete-product, .buttonEdit-product i {
    font-size: 15px;
}

@media (min-width: 768px) {

    .categorias ul {
        justify-content: left;
    }

    .productList__product {
        flex-direction: row;
    }
    .productList__product img {
        width: 15vw;
    }
}



/*------------------------*/



/*PRODUCT CART*/

.productosCarrito {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

.productosCarrito__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid var(--lila) 2px;
    width: 100%;
    margin-bottom:  10px;
    padding: 10px;
}


.productosCarrito__item img {
    width: 30vw;
}

.productosCarrito__item p {
    font-weight: bold;
    font-size: 16px;
}

.productosCarrito__total {
    text-align: right;
    
}

.productosCarrito__total span {
    font-weight: bold;
    font-size: 20px;
}

.productosCarrito__total button {
    padding: 5px;
    background: #000;
    color: #fff;
    border: solid var(--amarillo) 1px;
    font-size: 12px;
    margin-bottom: 10px;
}

.productosRecomendados h2 {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.productosRecomendados_imagenes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.productosRecomendados_imagenes img {
    width: 30%;
    justify-content: center;
}

@media (min-width: 768px) {
    
    .productosCarrito__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .productosCarrito__item img {
        width: 15vw;
    }

    .productosRecomendados_imagenes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 55px;
        width: 80%;
        
    }

    .productosRecomendados_imagenes img {
        width: 15vw;
    }
}

@media (min-width: 768px) {
    
    .productosCarrito__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .productosCarrito__item img {
        width: 15vw;
    }

    .productosRecomendados_imagenes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 90px;
        width: 80%;
        
    }

    .productosRecomendados_imagenes img {
        width: 15vw;
    }
}


/*-------------------------------------------*/

/*FORMULARIOS*/

.formulario {
    margin-top: 20px;
    /*border: solid var(--lila) 2px;*/
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 50px 0 50px 10px;
    text-align: center;
    
}

.formulario h2 {
    font-size: 22px;    
    margin-bottom: 20px;
}

.formulario img {
    width: 40%;
}

.formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.formulario form label {
    text-align: left;
    width: 100%;
}

.formulario form input {
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}

.formulario form textarea {
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}

.formulario form select {
    padding: 5px;
    margin-top: 10px;
    width: 100%;
}

.formulario form input bottom-check {
    display: flex;
    margin-top: 5px;
}

.formulario form button {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: none;
    background-color: var(--lila);
}

.formulario a {
    text-decoration: none;
    color: #000;
    margin-top: 10px;
    font-size: 14px;
}

.formulario form input.error {
    background-color: pink;
}


@media (min-width: 768px) {
    
    .formulario {
        width: 70%;
    }
}

@media (min-width: 1024px) {

    .formulario {
        width: 50%;
    }
}

@media (min-width: 1680px){

    .formulario {
        width: 30%;
    }
}

/*-----------------------------------*/

/*USUARIOS*/


.usersList {
    border: solid var(--lila) 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;

}

.img-usersList {
    width: 30vw;
}

.img-usersList img {
    width: 100%;
}

.botonesCrud-usuarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px; 
}

.botonesCrud-usuarios button {
    border: solid var(--lila) 1px;
    padding: 5px;
    margin: 5px ;
}

@media (min-width: 768px) {

    .usersList {
        flex-direction: row;
    }

    .img-usersList img {
        width: 50%;
    }
    .botonesCrud-usuarios {
        flex-direction: column;
        
    }
    
}

/*---------------------------*/

/*ADMINISTRADOR*/

.section-administrador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.section .userProfile-article {
    width: 25%;

}



/*PERFIL*/


.userProfile-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userProfile-article img {
    width: 30%;
}